body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html,
body {
  height: 100%;
}

#root,
#root > div {
  height: 100vh;
}

.full {
  height: 100vh;
}

.parent {
  display: grid;
  place-items: center;
}

.center-text {
  text-align: center;
}

.artist-art {
  width: 100%;
  padding-top: 100%;
}

.ram {
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: repeat(auto-fit, minmax(11rem, 1fr));
  grid-auto-rows: minmax(11rem, 1fr);
  padding-bottom: 2rem;
}

.ram-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ram-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.ram-filler {
  width: 32em;
  height: 100%;
  object-fit: cover;
}

/* .ram-container::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(0deg, #ffffff 0px, transparent 4rem);
  pointer-events: none;
  content: '';
} */

.artist-counter {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  height: 1.75rem;
  width: 1.75rem;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 1);
  color: #1633ff;
  /* opacity: 0.5; */
  /* border: 1px solid #1633ff; */
}

.artist-name {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  max-width: calc(100% - 16px);
  background-color: white;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
