.section {
  composes: bg-white from global;
  composes: shadow-sm from global;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  /* margin-top: 0.5rem; */

  /* border-radius: 0.5rem; */
}

.page {
  /* composes: bg-light from global; */
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  /* margin-bottom: 0.5rem; */
}

.page > section {
  margin-bottom: 0.5rem;
}

.page > section:last-child {
  margin-bottom: 0rem;
}

.container {
  padding-left: 1rem;
  padding-right: 1rem;
}
